<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix=".php">src/PhpShell/Command</directory>
            <directory suffix=".php">src/PhpShell/Prompt/Provider</directory>
        </exclude>
    </source>
    <coverage>
        <report>
            <clover outputFile="coverage.xml"/>
            <html outputDirectory="var/coverage"/>
        </report>
    </coverage>
    <php>
        <ini name="display_errors" value="On" />
        <ini name="error_reporting" value="-1" />
        <ini name="xdebug.mode" value="coverage"/>
    </php>
</phpunit>
